@font-face{
     font-family: "Lato";
     src: url(assets/fonts/Lato-Hairline.ttf);
}

body{
	background-color: #F7F7F7;
}

#name{
     font-family: "Lato";
     margin-left: 5px;
     font-size: 60px;
     font-weight: bold;
}

.frame{
  border-width: 15px;
  border-style: groove;
  border-color: slategrey;
  background-color: white;

}

#home_frame{
  height: 300px;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -85px;
}

#sidebar{
	display: inline-block;
	width:140px;
	margin-top: 40px;
	margin-left: 10px;
}
a{
    margin-top: 40px;
    font-family: "Lato";
    color: black;
    padding-bottom: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}


#aboutme-btn{
	
		display:block;
		width:60px;
		height:60px;
		border-radius:50px;
		font-family: "Lato";
		font-size:15px;
		color:#fff;
		line-height:60px;
		text-align:center;
		background:#000;
	    opacity: .5;
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
		text-decoration: none;
		transition: all 0.3s ease 0s;
}

#aboutme-btn:hover{
	opacity: 1;
}

.animText{
	font-family: "Courier";
	color: #666666;
	font-weight: lighter;
	padding-left: 10px;
	font-size: 18px;
	white-space: nowrap;
  	overflow: hidden;
  	width: 180px;
  	-webkit-animation: type 5s steps(50, end);
	animation: type 5s steps(50,end);
}

.animText:nth-child(2){
  animation: type2 8s steps(60, end);
}

.animText:nth-of-type(3){
	animation: type2 14s steps(60, end);
}

@keyframes type{ 
  from { width: 0; } 
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@-webkit-keyframes type{ 
  from { width: 0; } 
} 


